*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

 
}

.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}




.left-container, .right-container{
    width: 100%;
    display: flex;
    align-items: center;

}


.left-container{
background-color: #262525;
width: 100%;

}



.right-container{
  background:linear-gradient(-45deg,rgb(255, 0, 115),rgb(35, 33, 33));
  width: 70%;

}

.left-container .icons .fa-brands{
    color: #bbb;
}




.content{
    margin-left: 4rem;

}

.content .intro{
    font-size: 1.5rem;
    color: #ffff;
}

.content .intro span{
    color: #ef215f;
}

.content .detail{
    font-size: 1.1rem;
    color: #ffffff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0; 
    line-height: 1.8rem;
}
.content h1{
    font-size: 4rem;
    color: #ff004c; 
}


.btn-container button{
    border: 0.1rem solid lightblue;
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}

button:nth-child(1){
    background: rgb(255, 0, 30);
    color: #073d04;
}

button:nth-child(2){
    background: transparent;
    color:#ff001e;
    margin-left: 2rem;

}

button:nth-child(1):hover{
    background:transparent;
    color:#fdfdfd
}


button:nth-child(2):hover{
    background:#002904;
    color:rgb(255, 2, 2)
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50% ;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);


}



.circle:nth-child(2){
    background: white;
    width: 30rem;
    background-image: url("./WhatsApp Image 2025-01-23 at 12.15.12 AM.jpeg") ;
    background-size: cover; 
    border: .1rem solid white;
    box-shadow: 
    0 0 1rem #ffffff,
    inset 0 0 1rem #ff0682,
    0 0 2rem #ffffff,
    inset 0 0 2rem #146627,
    0 0 4rem #ffffff,
    inset 0 0 4rem #ff0033;
}


